*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************************************ About Section  *****************************************************/

/*********************** About top section *******************/


.about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0 50px 0;
    color: var(--color);
    background: var(--backgroundcolor);
    transition: .5s;
    letter-spacing: 2px;
}
.about-left{
    padding: 0 50px;
}
.about-container .about-left span{
    color: red;
}
.about-container .about-left p{
    width: 40vw;
    font-size: 20px;
    margin: 10px 0;
}
.about-container .about-left h1{
    font-size: 30px;
}
.about-background-top img{
    width: 25rem;
}



/************* Break Points for About-top Section  **************/

@media (width < 964px) {
    .about-container{
        flex-direction: column;
        margin: 24vh 0;
        gap: 5rem;
    }
    .about-container .about-left p{
        min-width: 62vw;
    }
}

/************* Break Points for About-top Section  **************/

/*********************** About top section *******************/



/*********************** About bottom section *******************/

.about-me{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 50px 0;
    letter-spacing: 1.5px;
    color: var(--color);
}
.about-me-text{
    width: 30vw;
    display: grid;
  
}
.about-me-background img{
    width: 20rem;
}
.about-me-text button{
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid var(--color);
    background: var(--backgroundcolor);
    color: var(--color);
    margin: 10px 0;
    transition: .5s;
}
.about-me-text button:hover{
    transform: scale(1.02) translateX(5px);

}
/************* Break Points for About-bottom Section  **************/



/************* Break Points for About-bottom Section  **************/

/*********************** About bottom section *******************/

    /************************************************ About Section  *****************************************************/