*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --backgroundcolor: white;
    --color: black;

    --small: 20px;
    --midium: 30px;
    --big: 35px
}
.theme{
    --backgroundcolor: black;
    --color: white;
}
/************************************************ Hero  Section  *****************************************************/
.hero-container{
    height: 60vh;
    color: var(--color);
    background: var(--backgroundcolor);
    transition: .5s all;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10rem 0 50px 0;
    letter-spacing: 2px;

}
.main{
    margin-left: 50px;
}
.main h1{
    font-size: var(--big);
}
.main h3{
    font-size: var(--midium);
}
.main p{
    font-size: var(--small);
}
.main button{
    padding: 8px;
    border: 2px solid var(--color);
    border-radius: 5px;
    margin-top: 10px;
    transition: .5s;
    background: transparent;
}
.main button:hover{
    transform: translate(5px)
}
.main button a{
    text-decoration: none;
    color: var(--color);
}
.hero-background{
    width: 32rem;
    animation: floate 5s infinite linear;
}

/************* Animation for Footer Section  **************/
@keyframes floate {
        0%{
         transform: translate(0, 0);
        }
        50%{
         transform: translate(0, 10px);
        }
        100%{
         transform: translate(0, 0);
        }
}
/************* Animation for Footer Section  **************/


/************* Break Points for Hero Section  **************/
@media (width < 1106px) {
    .hero-container{
        flex-direction: column-reverse;  
        margin: 100px 0;
        height: 100%;
        gap: 2rem;
    }
    .main{
        height: 29vh;
    }

}
@media (width < 521px) {
    .main h1{
        font-size: 25px;
    }
    .main h3{
        font-size: 20px;
    }
    .main p{
        font-size: 16px;
    }
    .hero-background{
        width: 25rem;
    }
    .main{
       height: auto;
    }
}
/************* Break Points for Hero Section  **************/

/************************************************ Hero  Section  *****************************************************/
